<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <globalization culture="th-TH" uiCulture="th-TH"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <!-- Champpy PC 
    <add key="LocalConnection" value="xNmanfoiBNJkBJL3FPy9WTy0WYXq9gKVZAY0fOdK83nIdWT34dFi+fBP92EuyeHT8Qya/EqMyg8Azb4b4y8kR9fV59JUXlQScmkHAVplSZk="/>
    -->
    <!-- Champpy NB
    <add key="LocalConnection" value="/VFxOHJbDvdMG676C0znW+p7Ylf+AbY1UQk0FufKA1zTG+3CEE5vdy3dNs8/z6bbGNMosDXFl+Fzfhz/frY2rJNjOy4fFkvOeT/Cx3byvAQ="/>
    -->
    <!-- Batt NB -->
    <!--<add key="LocalConnection" value="/VFxOHJbDvdMG676C0znW+p7Ylf+AbY1UQk0FufKA1zTG+3CEE5vdy3dNs8/z6bbGNMosDXFl+Fzfhz/frY2rJNjOy4fFkvOeT/Cx3byvAQ="/>-->
    <add key="LocalConnection" value="d+0KpwSSfD/MIznbgGsDj7OYV0kmSlJuPIMWOHCfobJg1IYEzzA+rRjpjlgkkTzFT7XfIxHDyBLuOxXw5lpIb1CzvA5AZcQrEzx5YgciFRM="/>
    <!-- Bommy NB -->
     <!--<add key="LocalConnection" value="sqmmFPE2miNqXsSPQTOI0pqKH92zHq3FTRrGpP9Sjp3M0tgCYlqsvPQMo+UPR6qwL71PaC48/j35iKK09YmpbfGjja9vGZjGZub+mATuIvw="/>-->
    
    <add key="FBAppID" value="693835867406361" />
    <add key="FBAppPW" value="5448f3354a8bfba9c1d49f0d14acc8e8" />
    
    <add key="SMTP" value="iloveimport.83.double.in.th"/>
    <add key="email" value="Info@iloveimport.83.double.in.th"/>
    <add key="emailp" value="D6ZVkUvrEBI5pisHnzJINA=="/>
  </appSettings>
  <connectionStrings>
    <!--<add name="LocalConnection" connectionString="Server=STRIKER-NB;Database=VLove_Import;User Id=sa;
Password=123456;" providerName="System.Data.SqlClient"/>-->
    <add name="LocalConnection" connectionString="mn/Xz7FTpV2zI4dKzPx+8INnxtZVffW3tHARg0suvryTkzZDnMitvK9z8PYYMkVTJv/s78Au9papasLSH+c7/UbOwT4oaM+uFdBm4MxVs2U="
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
