<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <globalization culture="th-TH" uiCulture="th-TH" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <!-- Champpy PC 
    <add key="LocalConnection" value="xNmanfoiBNJkBJL3FPy9WTy0WYXq9gKVZAY0fOdK83nIdWT34dFi+fBP92EuyeHT8Qya/EqMyg8Azb4b4y8kR9fV59JUXlQScmkHAVplSZk="/>
    -->
    <!-- Champpy NB-->
    <add key="LocalConnection" value="MqaV8L/eCPzPJz6tFOQQrcKtHsr9eXzwcdXcrDjofeb2YT5jyDpYtrCf2VM9Z4wn/vDCyaYCFcAR1jWBQ9AhxrOj4P4kGLkCelFXN+lfTL4="/>
    
    <!-- Batt NB -->
    <!--<add key="LocalConnection" value="/VFxOHJbDvdMG676C0znW+p7Ylf+AbY1UQk0FufKA1zTG+3CEE5vdy3dNs8/z6bbGNMosDXFl+Fzfhz/frY2rJNjOy4fFkvOeT/Cx3byvAQ="/>-->
    <!--<add key="LocalConnection" value="d+0KpwSSfD/MIznbgGsDj7OYV0kmSlJuPIMWOHCfobJg1IYEzzA+rRjpjlgkkTzFT7XfIxHDyBLuOxXw5lpIb1CzvA5AZcQrEzx5YgciFRM="/>-->
    <!--Batt's Home-->
    <!--<add key="LocalConnection" value="qhX+sUDW/1YqojVMvdWaWOeT/YaQzWpc7UeYEdAoTBVEY5wHjiDevpU8/rj3hVslgLYexTKwg1vgqktYKM5qQPvZhE9LOr1Jw7D6HF10Cgk="/>-->
    <!--Striker PC
    <add key="LocalConnection" value="Arrxq07/veF4arVNCGCLschz4zm0ZxM2K/AsLrTy6tjvzY71uq/gWE4j0ME3Hb7O1FuSnoYa+FjsKRskj8lJIlrcuKdSN2cfDUQug5JgMbY="/>  -->  
    <!-- Bommy NB -->
    <!--<add key="LocalConnection" value="0rbUVebiNCZBbU1oW9bOeFD4dyrmCDwOETXDu9CIQHsuSyJtlV8jiuNBm0aDt/Oeve3reJMZihHzWUo4F00WrmboeVMPBvyhosOeyvsTOW4=" />-->
    <!--<add key="NewsFeedURL" value="http://rssfeeds.sanook.com/rss/feeds/sanook/news.index.xml" />hot.news.xml-->
    <add key="NewsFeedURL" value="http://rssfeeds.sanook.com/rss/feeds/sanook/hot.news.xml" />
    <add key="GreaterGoods" value="AIzaSyD9JSxSXcXeQRpE-ep68gksUcRSFKjvuKU" />
    
    <!--Prod-->
    <!--<add key="LocalConnection" value="pDsojzzp3d5EJXESg4qmHB5Bmd+vw0DnqhYQParGSU3hshp5TmAdfi/3WawiTWIvFljQjg/ZIV+wHDKCqmaKoZ3KGKyhsL2+V26igTrkeVIk89St1Xt/nHKZisXDH2y1SofstmLVd4wP8LlYOvfX6A=="/>-->

    <!--Prod_TEST-->
    <!--<add key="LocalConnection" value="vWdLqxcmu3uhMN9M0/b7shCvw72ql630+oXcAI8MRWiLdRwRqvRRJNh3kxHONCi/A4H0IGzukAN8KgbdFoOEeasZCBI/liq72Yz3sR7+nIEEaWARxf8Ol3AiS6j//n1ZsSnsk7/Yixwg6BVvHD/1/w=="/>-->
    
    <!--Local-->
    <!--<add key="AdminURL" value="http://localhost:1887/"/>-->
    <add key="AdminURL" value="http://localhost:1665/" />
    
    <add key="FBAppID" value="693835867406361" />
    <add key="FBAppPW" value="5448f3354a8bfba9c1d49f0d14acc8e8" />
    <add key="SMTP" value="iloveimport.com" />
    <add key="email" value="Info@iloveimport.com" />
    <add key="emailp" value="RrIWmpw+gmpRQb74WLIR+1FOoC3BfczaKK47sYWJhHs=" />
    <add key="ReportPath" value="~/Report/" />
  </appSettings>
  <connectionStrings>
    <!--<add name="LocalConnection" connectionString="Server=STRIKER-NB;Database=VLove_Import;User Id=sa;
Password=123456;" providerName="System.Data.SqlClient"/>-->
    <add name="LocalConnection" connectionString="mn/Xz7FTpV2zI4dKzPx+8INnxtZVffW3tHARg0suvryTkzZDnMitvK9z8PYYMkVTJv/s78Au9papasLSH+c7/UbOwT4oaM+uFdBm4MxVs2U=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>