<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <globalization culture="th-TH" uiCulture="th-TH"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="LocalConnection" value="mn/Xz7FTpV2zI4dKzPx+8INnxtZVffW3tHARg0suvryTkzZDnMitvK9z8PYYMkVTJv/s78Au9papasLSH+c7/UbOwT4oaM+uFdBm4MxVs2U="/>
  </appSettings>
  <connectionStrings>
    <!--<add name="LocalConnection" connectionString="Server=STRIKER-NB;Database=VLoveImport;User Id=sa;
Password=123456;" providerName="System.Data.SqlClient"/>-->
    <add name="LocalConnection" connectionString="mn/Xz7FTpV2zI4dKzPx+8INnxtZVffW3tHARg0suvryTkzZDnMitvK9z8PYYMkVTJv/s78Au9papasLSH+c7/UbOwT4oaM+uFdBm4MxVs2U=" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>