<?xml version="1.0"?>
<configuration>
  <system.web>
    <globalization culture="th-TH" uiCulture="th-TH"/>
    <pages styleSheetTheme="v_th1"/>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>

    <add key="SMTP" value="iloveimport.com"/>
    <add key="email" value="Info@iloveimport.com"/>
    <add key="emailp" value="D6ZVkUvrEBI5pisHnzJINA=="/>    
    
    <!-- Batt NB -->
    <!--<add key="LocalConnection" value="/VFxOHJbDvdMG676C0znW+p7Ylf+AbY1UQk0FufKA1zTG+3CEE5vdy3dNs8/z6bbGNMosDXFl+Fzfhz/frY2rJNjOy4fFkvOeT/Cx3byvAQ="/>-->
    <!--<add key="LocalConnection" value="d+0KpwSSfD/MIznbgGsDj7OYV0kmSlJuPIMWOHCfobJg1IYEzzA+rRjpjlgkkTzFT7XfIxHDyBLuOxXw5lpIb1CzvA5AZcQrEzx5YgciFRM="/>-->
    
    <!--Batt's Home-->
    <add key="LocalConnection" value="qhX+sUDW/1YqojVMvdWaWOeT/YaQzWpc7UeYEdAoTBVEY5wHjiDevpU8/rj3hVslgLYexTKwg1vgqktYKM5qQPvZhE9LOr1Jw7D6HF10Cgk="/>

    <!-- Bommy NB -->
    <!--<add key="LocalConnection" value="0rbUVebiNCZBbU1oW9bOeFD4dyrmCDwOETXDu9CIQHsuSyJtlV8jiuNBm0aDt/Oeve3reJMZihHzWUo4F00WrmboeVMPBvyhosOeyvsTOW4="/>-->
  </appSettings>
</configuration>