<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <globalization culture="th-TH" uiCulture="th-TH"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <!-- Batt NB -->
    <add key="LocalConnection" value="/VFxOHJbDvdMG676C0znW+p7Ylf+AbY1UQk0FufKA1zTG+3CEE5vdy3dNs8/z6bbGNMosDXFl+Fzfhz/frY2rJNjOy4fFkvOeT/Cx3byvAQ="/>
  </appSettings>  

</configuration>
