<?xml version="1.0"?>
<configuration>
  <system.web>
    <globalization culture="th-TH" uiCulture="th-TH"/>
    <pages styleSheetTheme="v_th1"/>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true"/>
  </system.web>
  <appSettings>
    <!-- Batt NB -->
    <add key="LocalConnection" value="/VFxOHJbDvdMG676C0znW+p7Ylf+AbY1UQk0FufKA1zTG+3CEE5vdy3dNs8/z6bbGNMosDXFl+Fzfhz/frY2rJNjOy4fFkvOeT/Cx3byvAQ="/>
  </appSettings>
</configuration>