body {
}

.HeadMaster
{
	/*width:900px;
	height:200px;*/
	/*background-color:gray;*/
	
	border-style:solid;	
	border-width:medium;
	border-color:red;
}
.td
{
	border-style:solid;	
	border-width:medium; 
	border-color:blue;
}
.banner
{
	width:890px;
	height:150px;
	border-style:solid;	
	border-width:medium;
	border-color:blue;
}
.promotion
{
	width:700px;
	height:300px;
	border-style:solid;	
	border-width:medium;
	border-color:blue;
}
.news
{
	width:180px;
	height:300px;
	border-style:solid;	
	border-width:medium;
	border-color:blue;
}
.center-Preload-Circle {
    margin-top: 20% !important;
    margin-left: 45% !important;
}
.center-Preload-Line {
    margin-top: 15% !important;
}
.center {
    margin-left: auto !important;
    margin-right: auto !important;
    /*margin-top: auto !important;
    margin-bottom: auto !important;
    height: 70% !important;
    width: 70% !important;*/
    /*background-color: #b0e0e6;*/
}

.trLogin_LEFT
{
    background: url("../../Images/icon/l_box.png") no-repeat;
	height :43px;
}

.trLogin_RIGHT
{
    background: url("../../Images/icon/r_box.png") no-repeat;
}

.trLogin_CENTER
{
    background: url("../../Images/icon/c_box.png");
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=80);
	opacity: 0.9;
}
