body
{
}

.HeadMaster
{
    width: 900px;
    height: 200px;
    background-color: gray;
    border-style: solid;
    border-width: medium;
    border-color: red;
}

.td
{
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

.banner
{
    width: 890px;
    height: 150px;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

.promotion
{
    width: 700px;
    height: 300px;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

.news
{
    width: 180px;
    height: 300px;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

.center-Preload-Circle
{
    margin-top: 20% !important;
    margin-left: 45% !important;
}

.center-Preload-Line
{
    margin-top: 15% !important;
}

/*.center {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    height: 70% !important;
    width: 70% !important;
    background-color: #b0e0e6;
}*/

.trLogin_LEFT
{
    background: url("../../Images/icon/l_box.png") no-repeat;
    height: 43px;
}

.trLogin_RIGHT
{
    background: url("../../Images/icon/r_box.png") no-repeat;
}

.trLogin_CENTER
{
    background: url("../../Images/icon/c_box.png");
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=80);
    opacity: 0.9;
}

*
{
    font-size: 12px !important;
}

.input-field
{
    color: black !important;
}

.label
{
    color: black !important;
}

.selectedBorder
{
    border-style: solid;
    border-width: 1px;
    border-color: orange;
}

.width200px
{
    width: 200px;
}

.width90per
{
    width: 90%;
}

.width100per
{
    width: 100%;
}

.height300px
{
    height: 300px;
}

.maxheight100px
{
    max-height: 100px !important;
}

.maxheight150px
{
    max-height: 150px !important;
}

.maxheight200px
{
    max-height: 200px !important;
}

.maxheight300px
{
    max-height: 300px !important;
}

.maxheight400px
{
    max-height: 400px !important;
}

.ImgheaderBanner
{
    width: 100%;
    max-height: 50%;
}

.content
{
    width: 90% !important;
}

.font15
{
    font-size: 15px;
}

.textUnderline
{
    text-decoration: underline;
}

/*.dropdown-content li:hover .red, .dropdown-content li.active .red
{
    background-color: rgba(255, 0, 0, 1) !important;
}

.menuBar.red div:hover
{
    background-color: orange !important;
}*/

/*.row.noafter:after
{
    content: none;
}*/

.row
{
    margin-bottom: 0px;
    /*margin-top: 0px !important;*/
}

.collapsible-body
{
    padding: 20px !important;
}

nav
{
    line-height: 30px !important;
}

.ucCustomerStatus
{
    max-height: 30px;
}

    .ucCustomerStatus div ul
    {
        max-height: 30px;
        padding-right: 5%;
    }

        .ucCustomerStatus div ul li
        {
            max-height: 30px;
        }

            .ucCustomerStatus div ul li a
            {
                max-height: 30px;
                font-size: 12px !important;
            }

.page-footer
{
    border-top: 1px solid #bdbdbd;
}

.footer-copyright
{
    border-top: 1px solid #9e9e9e;
}

.ucSearchbox
{
    height: 1%;
}

    .ucSearchbox div
    {
        margin-top: 1%;
    }

.modalItemDiv
{
    width: inherit !important;
}

i
{
    font-size: 20px !important;
}

#masterForm
{
    /*position: fixed;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFF;
    z-index: 9999;
}

div[class~="title"]
{
    max-height: 40px;
    border-bottom: 1px solid #eeeeee;
}

    div[class~="title"] div.icon-wrap
    {
        width: 20%;
        display: inline-block;
        margin-right: 10px;
    }

    div[class~="title"] h4
    {
        width: 70%;
        display: inline-block;
        margin: 0px;
    }

div[class~="catlist"]
{
    /*position: fixed;*/
    border: 3px solid #eeeeee;
    position: absolute;
    left: 18%;
    z-index: 10;
    background: white;
    top: 0%;
    /*top: -15%;
    height: 650px;*/
    /*color: red;*/
}

div[class~="cat-l"]
{
    border-right: 1px solid #eeeeee;
    padding-left: 2em;
    width: 40%;
    display: inline-block;
}

div[class~="cat-r"]
{
    border-left: 1px solid #eeeeee;
    padding-left: 2em;
    width: 40%;
    display: inline-block;
}

h5[class~="subtitle"]
{
    text-decoration: underline;
}

div[class~="hotlink"]
{
    border: none;
}

    div[class~="hotlink"] a
    {
        font-size: 15px !important;
        margin-bottom: 10px !important;
    }

    div[class~="hotlink"] i
    {
        /*font-size: 30px !important;*/
        padding-right: 7%;
    }

        div[class~="hotlink"] i[class^="flaticon-"]:before, div[class~="hotlink"] i[class*=" flaticon-"]:before, div[class~="hotlink"] i[class^="flaticon-"]:after, div[class~="hotlink"] i[class*=" flaticon-"]:after
        {
            font-size: 25px !important;
            padding: 0px !important;
        }

.slider
{
    height: 350px;
}
