@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-bikini4:before {
	content: "\e000";
}
.flaticon-book122:before {
	content: "\e001";
}
.flaticon-business2:before {
	content: "\e002";
}
.flaticon-coins1:before {
	content: "\e003";
}
.flaticon-cooking17:before {
	content: "\e004";
}
.flaticon-cutlery22:before {
	content: "\e005";
}
.flaticon-feeding1:before {
	content: "\e006";
}
.flaticon-iphone26:before {
	content: "\e007";
}
.flaticon-lacquer:before {
	content: "\e008";
}
.flaticon-logistics3:before {
	content: "\e009";
}
.flaticon-ring5:before {
	content: "\e00a";
}
.flaticon-packages2:before {
	content: "\e00b";
}
.flaticon-sedan2:before {
	content: "\e00c";
}
.flaticon-soccer38:before {
	content: "\e00d";
}
.flaticon-soccer44:before {
	content: "\e00e";
}
.flaticon-sofa9:before {
	content: "\e00f";
}
.flaticon-stylish2:before {
	content: "\e010";
}
.flaticon-telemarketing:before {
	content: "\e011";
}
.flaticon-tshirt18:before {
	content: "\e012";
}
.flaticon-umbrella56:before {
	content: "\e013";
}
